{
    "env": {
        "browser": true
    },
    "extends": ["angular"],
    "rules": {
        "indent": [
            "error",
            4
        ],
        "linebreak-style": [
            "error",
            "unix"
        ]
    }
}